body {
    font-family: Georgia, serif;
    font-size: 100%;
    line-height: 175%;
    margin: 0 15% 0;
    background-color: #f9eccd;
}

h1 {
    font: bold 2em Georgia, serif;
    color: #230903;
}

h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: .5em;
    color: #230903;
}

h3 {
    font-size: 1em;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: darkred;
}

a:hover, a:active {
    color: orange;
}

li {
    list-style: none;
    padding-left: 30px;
    background-image: url("bullet_image.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 15px;
}

p {
    color: #3C1518;
    text-indent: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}